*{

    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-color: rgb(255, 255, 255);
}


.button-with-icon {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 310px;
    margin-top: 50px;
}

.button-with-icon__label {
    margin-left: 0.5rem;
}

.header {
    position: relative;
    text-align: center;
    color: white;
  }

.textocenter {
  position: absolute;
  color: whitesmoke;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#quote{
    color: black;
    margin-top: -200px;
}

/*//////////////////////// side bars///////////////////////////////////*/
*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ////////////left//////////// */

.wrapper .sidebar{
    background: rgb(38, 118, 165);
    position: fixed;
    top: 0;
    left: 0;
    width: 310px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}


/* //////////////right////////////////// */
.wrapperright .sidebarright{
    background: rgb(38, 118, 165);
    position: fixed;
    top: 0;
    right: 0;
    width: 310px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}